/* Roboto and Roboto Mono from Google are used for this program */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto Mono", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-body {
  margin: 0;
  padding: 0;
  border: solid black 1.5px;
  width: 70%;
  /* aspect-ratio: 1 / 2; */
  display: flex;
  flex-direction: column;
}

.display {
  margin: 0;
  padding: 0;
  border: solid black 1.5px;
  flex: 1;
  aspect-ratio: 8;
  display: flex;
  justify-content: end;
  align-items: center;
}

.calculator-body > * {
  display: flex;
}

.calculator-body > * > * {
  margin: 0;
  padding: 0;
  border: solid black 1.5px;
  flex: 1;
  aspect-ratio: 1 / 1;
  background-color: rgb(255 255 255 / 0);
}
