/* Roboto and Roboto Mono from Google are used for this program */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto Mono", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.calculator-body {
  margin: 0;
  padding: 0;
  border: solid black 1.5px;
  width: 70%;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
}

.display {
  margin: 0;
  padding: 0;
  border: solid black 1.5px;
  flex: 1;
  aspect-ratio: 4;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 3rem;
  background-color: rgb(94, 152, 94);
}

.calculator-body > * {
  display: flex;
  gap: 16px;
  margin: 16px;
}

.calculator-body > * > * {
  margin: 0;
  padding: 0;
  border: solid black 1.5px;
  flex: 1;
  aspect-ratio: 1 / 1;
  background-color: rgb(255 255 255 / 0);
  border-radius: 50%;
}

.numeric,
.operator,
#change-sign,
#all-clear,
#equal {
  font-size: 2rem;
}

.numeric {
  background-color: rgb(201, 135, 11);
}

.operator,
.special-button {
  background-color: rgb(106, 162, 181);
}
